    @import '_libs';
    // Большие девайсы (десктопы, >= 992px);
    @media (max-width: 992px) {

    }
    // Большие девайсы («таблетки», >= 992px);
    @media (min-width: 992px) and (max-width:$widthAll) {
        //Для index.html

    }
    // Для малых и очень малых девайсов ( <= 768px);
    @media (max-width: 768px) {
        //Для index.html

    }
    // Средние девайсы («таблетки», >= 768px < 992px);
    @media (min-width: 768px) and (max-width:992px) {
        //Для index.html

    }
    // Для крупных девайсов ( >= 992px);
    @media (min-width: 992px) {

    }
    // Стили к страничке index.html, а также  footer + header для всех страничек;
    html {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        //flex-wrap: nowrap;
        min-height: 100%;
        //justify-content: stretch;
        header {
            background: $mainColor;
            .navbar {
                display: flex;
                flex-direction: row;
                .navbar-toggler {
                    background-color: $buttonColor;
                    opacity: .5;
                }

                a {
                    color: $buttonColor !important;
                }
                button {
                    /*&:not(:first-child) {
                        margin-left: 50px;
                    }*/
                }
                .form-inline {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }
                .stretch {
                    flex-grow: 1;
                }
                .cart-account {
                    color: $colorAll;
                    font-size: 1.5em;
                    &:hover {
                        color: $buttonColor;
                    }
                }
            }
        }
        main {
            flex-grow: 1;
            width: auto;
            padding-top: 30px;
            .card {
                width: 100%;
                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        footer {
            margin-top: 30px;
            background: $mainColor;
            display: flex;
            flex-direction: row;
            height: 60px;
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                padding: auto;
                .data {
                    color:$buttonColor;
                    font-size: 1.5em;
                }
                .stretch {
                    flex-grow: 1;
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0;
                    li {
                        list-style-type: none;
                        width: 60px;
                        height: 100%;
                        a {
                            //height: 60px;
                            font-size:2em;
                            color: $colorAll;
                            &:hover {
                                color: $buttonColor;
                            }

                        }
                    }
                }
            }
        }
    }
    
